<h2>よくある質問</h2>

<table class="table table-striped">
  <tr>
    <td><a href="#answer1"><h4>Q1</h4> 投稿（出品）したが、削除したい。</a></td>
  </tr>
  <tr>
    <td><a href="#answer2"><h4>Q2</h4> 相手の方のメールアドレスが正しくない</a>
  </tr>
  <tr>
    <td><a href="#answer3"><h4>Q3</h4> 自分あてにメールがとどかない。</a></td>
  </tr>
  <tr>
    <td><a href="#answer4"><h4>Q4</h4> 投稿してもすぐに削除されてしまう。</a></td>
  </tr>
  <tr>
    <td><a href="#answer5"><h4>Q5</h4> 取引確定の書込みが削除されている。</a></td>
  </tr>
  <tr>
    <td><a href="#answer6"><h4>Q6</h4> 自分が行くはずだったコンサートのチケットを販売して大丈夫？</a></td>
  </tr>
  <tr>
    <td><a href="#answer7"><h4>Q7</h4> 病院でもらった薬を出品しても問題ない？</a></td>
  </tr>
  <tr>
    <td><a href="#answer8"><h4>Q8</h4> 自作のバッグの説明に有名ブランドの『○○風』と書いても大丈夫？</a></td>
  </tr>
  <tr>
    <td><a href="#answer9"><h4>Q9</h4> 偽ブランドを出品しても大丈夫？</a></td>
  </tr>
  <tr>
    <td><a href="#answer10"><h4>Q10</h4> 成犬の個人売買は違法？</a></td>
  </tr>
  <tr>
    <td><a href="#answer11"><h4>Q11</h4> 出品者からメールの返信がない。</a></td>
  </tr>
  <tr>
    <td><a href="#answer12" target="_blank"><h4>Q12</h4> 詐欺にあった。</a></td>
  </tr>
</table>

<table class="table table-striped">
  <tr>
    <td class="answer" id="answer1"><h4>A1</h4> 投稿時に入力したパスワードを入力し、[削除]ボタンを押せば削除できます。</td>
  </tr>
  <tr>
    <td class="answer" id="answer2"><h4>A2</h4> 申し訳ございませんが、対処方法がありません。掲示板で連絡をとってみてください。</td>
  </tr>
  <tr>
    <td class="answer" id="answer3"><h4>A3</h4>
      auのメールアドレスを連絡先として登録している方へ。「あて先不明」での沖縄宝島へ返信されてくるメールが増加しております。「あて先不明」で戻ってくるメールのほとんどがauのアドレスとなっています。お使いの携帯に「メールフィルター」の設定はされてないでしょうか。<br>
      もしくは、携帯側のメール受信設定(メールフィルター)の なりすまし拒否を設定されていませんか？メールアドレスをご登録の際はメールアドレスの記述をお間違えのないよう、またご自分のメール受信設定をもう一度確認のうえ、ご登録をお願いいたします。
    </td>
  </tr>
  <tr>
    <td class="answer" id="answer4"><h4>A4</h4>
      運営側で不適切と思われる投稿は削除させていただくことがあります。ご了承下さい。
    </td>
  </tr>
  <tr>
    <td class="answer" id="answer5"><h4>A5</h4> 投稿者による削除の可能性があります。掲示板にて問合せてみてください。</td>
  </tr>
  <tr>
    <td class="answer" id="answer6"><h4>A6</h4>
      自分で行くはずだった分を他人に譲る場合であれば、問題ありません。自分が行く予定だったコンサートチケットをネット売買で転売すること自体は、違法な行為に当たりません。自分の買った価格よりも高価な値段で転売したとしても、個人間の売買契約であり、両者が納得しているので、問題ありません。
    </td>
  </tr>
  <tr>
    <td class="answer" id="answer7"><h4>A7</h4>
      継続的な業務でなければ、薬事法違反にはなりません。これは薬事法が「業として」行った者を規制対象としているからに過ぎません。薬事法に違反しなくても、医薬品は身体にさまざまな影響を及ぼす危険なもので、その取り扱いには充分に注意する必要があります。「業として」行ったか否かという判断は困難な場合も多く、販売行為は１回であっても反復継続の意思があれば、「業として」行った場合に該当し、また、１回の販売でも、有償であれば、「業として」行った場合に当たることもあります。自分に効いた薬が他人にも効くかどうかは不明であり、症状が悪化した場合などは、薬に問題があったとして暇疵担保責任など、売主の責任も問われる可能性もあります。したがって、病院でもらった薬が余っても、出品すべきではありません。
    </td>
  </tr>
  <tr>
    <td class="answer" id="answer8"><h4>A8</h4>
      消費者を混乱させる行為となりますので、するべきではありません。有名ブランドの「○○風」と記載している場合には、通常、その有名ブランドの特定の商品をまねして作成しているので、登録意匠に類似する意匠や他人の商品の形態を模倣した商品とみなされ、自作のバッグであっても意匠法などに違反し、処罰される可能性があります。
    </td>
  </tr>
  <tr>
    <td class="answer" id="answer9"><h4>A9</h4>
      偽ブランド品を売買した場合、「商標権」侵害になります。偽ブランド品を販売した場合、商標権者から販売停止を求められるのはもちろん、損害賠償請求される場合もあります。商標権を侵害している事実を認識していれば、懲役、罰金などの刑事罰が適用される場合もありますので、偽ブランドを持ってる場合は、速やかに警察に相談するべきです。
    </td>
  </tr>
  <tr>
    <td class="answer" id="answer10"><h4>A10</h4>
      改正動物愛護法によって動物取扱業の登録が義務化されましたが、対象となる取扱頻度、取扱量は"年間２回・２匹以上”の営利目的の取引を行なう場合"のようです。したがって、今回のみであれば問題無いと思います。ｌ飼えなくなった事はとても残念ですが、ワンちゃんのためにも良い里親さんを見つけてください。
    </td>
  </tr>
  <tr>
    <td class="answer" id="answer11"><h4>A11</h4>
      問い合わせに対して回答するのがマナーですが、中にはメールの返信をしないユーザーさんもいらっしゃいます。理由としては、「既に売買が終了している」や、「問い合わせのメールが多すぎて全てに回答できない」、などです。他には、「まだある？」、「ほしいです」だけの礼儀を欠いた内容のメールには返事するのも嫌、とのご意見もあります。このケースは当然のこととは思いますが、このように理由は色々あるようです。
    </td>
  </tr>
  <tr>
    <td class="answer" id="answer12"><h4>A12</h4>
      一般的なオークションサイトや個人売買サイトではあらかじめこのようなトラブルがおこりうることを『利用規約』などで警告しており、仮にトラブルがあっても一切の責任を負わない旨を明言しています。したがって、自己責任であることを認識しながら、もしくは認識できる地位にありながら、当サイトを通じて取引した以上、サイト側に法的責任を追及することは困難です。『手渡し』での取引をおすすめいたします。
    </td>
  </tr>
</table>
