<h2 class="rule">免責事項・利用規定</h2>

<ul>
  <li>
    沖縄宝島は全て無料です。また、参加に関して登録等も一切必要としません。
    沖縄宝島は誰でも自由に参加できる地域密着型の個人売買支援サイトです。
    当サイトはご利用の際は、下記のことをご理解、ご承諾されたものと当サイトはさせて頂きます。
  </li>
  <li>本サービスのご利用は利用者ご自身の責任で行って下さい。</li>
  <li>当サイトは利用者の情報に関して、売買契約等の締結、代理、媒介、仲介、保障等は一切いたしておりません。</li>
  <li>本サービスのご利用により利用者に損害が生じだ場合でも当サイトは一切責任を負わないものとする。</li>
  <li>未成年者の個人売買の参加はお断りしております。</li>
  <li>当サイトは、個人情報の売買は固くお断りしております。卒業アルバム、各種名簿の売買は禁止です。</li>
  <li>「メールを出したのに返信がこない」などのメールでのやり取りやそれぞれのお取引き自体について沖縄宝島は関与せず、トラブルがあっても沖縄宝島は一切の責任を負いません。</li>
  <li>当サイトでは、『売買は手渡し』をおすすめしております。</li>
  <li>顔の見えない相手との金品のやりとりは危険が伴います。相手の素性を知らないままお金品を振込むとはなるべく避けましょう。</li>
  <li>相手側に安易に個人情報（住所、氏名、電話番号、プロバイダーメールアドレスなど）を通知する方がいますが、その場合も個人の責任と判断でおこなってください。こちらは一切関知いたしません。</li>
  <li>違法品や疑わしい物品の出品には、私の判断で当局へ通報します。</li>
</ul>

<h2 class="rule">削除の対象となる投稿</h2>
<ul>
  <li>金額記載のない物（オークション形式など）は削除の対象といたします。 </li>
  <li>同一商品を複数掲示板への投稿は、お止めください。</li>
  <li>urlを含む投稿はお断りしております。</li>
  <li>カテゴリー違い掲示板への投稿は予告なしに削除いたします。</li>
  <li>メールアドレスの誤入力を発見した場合、投稿者に予告無しで削除いたします。</li>
  <li>商品説明の文中（コメント蘭）へメールアドレス、電話番号が記載されてる場合は削除の対象です。</li>
  <li>投稿の際は現物の画像をお使い下さい。現物以外の画像は削除の対象となります。</li>
  <li>マジコンの売買。</li>
  <li>投稿内容は現実社会の実物をお願いいたします。オンラインゲームなどのアイテムの売買は削除対象といたします。</li>
  <li>本物と記載のないブランド品。 </li>
  <li>同一商品の画像の追加投稿。</li>
  <li>アダルト系の書込。 </li>
  <li>カテゴリー違いの投稿。</li>
  <li>同一商品を複数掲示板への投稿。 </li>
  <li>情報商材の投稿。 </li>
  <li>危険品（ナイフ・包丁等）誤解を招くもの（模造刀・モデルガン等）。 </li>
  <li>掲示板内に連絡先として電話番号などの書込みを禁止いたします、連絡方法はメールのみといたします。 </li>
  <li>メールアドレスの未記入の投稿。</li>
  <li>同一出品者の連続投稿は５件まででとします。ページの独占を防ぐためです。残りは後日投稿してください。 </li>
  <li>複数掲示板へ、同一内容の投稿</li>
  <li>広告的な内容の書き込み。</li>
  <li>アダルト内容の投稿及。</li>
  <li>ドラッグの売買は合法ドラッグであっても削除いたします。</li>
  <li>金額の記載の無い投稿。</li>
  <li>他のホームページ（ヤフーオークションも含む）への誘導は削除の対象とします。</li>
</ul>

<h2 class="rule">個人売買とは</h2>
<h3>個人売買は自己責任が基本</h3>
<p>沖縄宝島での個人売買では顔が見えないため、双方の信頼性を前提に取引きが行われます。オークション、フリーマーケットサイトの規約には、必ずと言って良いほど『場を提供しているだけであり、取引きで起こったトラブルの責任は負わない』と記載されています。この辺りの規約を読まずに、何かトラブルがある毎に管理者側に食い掛かって来る人も少なくありません。（初心者に多い）</p>

<p>購入をするのも貴方の自由、出品をするのも貴方の自由、価格を付けるのも貴方の自由、質問をするのもあなたの自由です。結果として泣き寝入りする事がないように、不明な点は事前に確認をしましょう。自分には詐欺やトラブルには無縁だと思わない事です。未然に防げるようなトラブルは、防ぐに越した事はないのです。</p>

<h2 class="rule">沖縄宝島に向かない人</h2>
<p>自分の事以外は後回しにしてしまうルーズな人、忙しい人は、相手にあらかじめ理解をしてもらわないと詐欺に間違えられたり、キャンセルされたりと迷惑千万です。中古品がすべて綺麗だと思っている人。多少使用した傷などがあるのが当たり前です。潔癖症、神経質な人はクレーマーにも変身しやすいので注意が必要です。自分が言った事や約束を守れない人は、相手に迷惑を掛けるだけです。最低限の責任感は持ちましょう。</p>

<h2 class="rule">保証が心配なら</h2>
<p>保証書の期間が残っていない限りは、通常の使用で故障しても無料で保証が受けられません。この点がどうしても心配な人は家電店など普通のお店で購入する事をお勧めします。お店によっては最大５年間の保証期間があったり、配送が無料、不要な商品を引き取ってくれるサービスがあるので、中古を購入する前に一度比較してみてはどうでしょうか？</p>
